*.tar.gz
*.tar.xz
*.zip

# Node
node_modules/
dist/
.env

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.idea/
*.iml

# Secrets and Large Files
*.apk
*firebase*.json
google-services.json
